---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Your Blog Name Here</h1>
<h2> 11ty x Strapi </h2>

<p> "For a long time, we just went along with what we thought was right.
We used what everyone used. Then we found our stack, a stack that worked,
a stack that we loved, a stack that we could rely on. Life hasn't been the 
same since then."

- Unknown <p>

<p>Use the navbar to navigate between pages.</p>
